{% extends 'base.html.twig' %}

{% block title %}PretothequeTest
{% endblock %}

{% block body %}
<h1>Bienvenue sur le site test de la Pretotheque</h1>
	<h2>veuillez vous connecter</h2>
	<p>
		<a href="{{path('register')}}">s'enregistrer</a>
	</p>
{% endblock %}
